---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
// heroImage={AboutHeroImage}
---

<Layout
	title="connection"
	description="connect with me"
	pubDate={new Date('June 22 2026')}
>
	<p>
		Hi, my name is Diane.
	</p>

	<p>
		If you want to get in touch with me about something or just to say hi, reach out on ... N/A

	</p>

</Layout>
