---
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header class="site-header">
	<h1 class="site-title"><a href="/">{SITE_TITLE}</a></h1>
	<p class="site-subtitle">{SITE_DESCRIPTION}</p>
	<nav class="site-nav">
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Archive</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
	</nav>
</header>
